* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#B554FE, #440F6C) fixed;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

header img {
    width: 56px;
}

h2 {
    font-size: 20px;
    margin-bottom: 16px;
}

h3 {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 12px;
    color: #47045c;
}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 16px 24px;
    width: 100%;
    margin-bottom: 16px;
}

.commands ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.commands ul li {
    font-size: 24px;
    font-weight: bold;
}

.digipet {
    position: relative;
    width: 230px;
    margin: 0 auto 24px auto;
}

.digipet-screen {
    position: absolute;
    top: 118px;
    left: 56px;
    width: 120px;
    height: 120px;
    /* add image of actual digipet */
    background-image: url('./images/static.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.digipet-screen_eat {

}

.digipet-screen_dance {}

.digipet-screen_sleep {}

button {
    cursor: pointer;
    border: none;
    background-color: #b64ff1;
    border-radius: 8px;
    padding: 12px 16px;
    margin: 12px;
}

.panels {
    position: relative;
}

.panel-commands {
    display: none;
}

.listening .panel-commands {
    display: block;
}

.listening .panel-microphone {
    display: none;
}